/* ==========================================================================
 * Default settings
 * ========================================================================== */
$timetable-hour-column-width: 96px !default;
$timetable-hour-row-height: 46px !default;
$timetable-heading-height: 30px !default;
$timetable-breakpoint: 960px !default;
$timetable-grid-color: #e5e5e5 !default;
$timetable-grid: 1px solid $timetable-grid-color !default;
$timetable-row-header-padding: 15px !default;
$timetable-row-header-bg: #efefef !default;
$timetable-row-header-color: #000 !default;
$timetable-row-header-font-weight: 500 !default;
$timetable-legend-row-separator: 1px solid white !default;
$timetable-entry-row-separator: none !default;
$timetable-row-header-gap: 5px solid transparent !default;
$timetable-row-uneven-color: #fdfdfd !default;
$timetable-row-even-color: #f4f4f4 !default;
$timetable-entry-bg: #333 !default;
$timetable-entry-color: #fff !default;
$timetable-entry-hover-bg: darken($timetable-entry-bg, 10%) !default;
$timetable-entry-border: 1px solid darken($timetable-entry-bg, 15%) !default;
$timetable-entry-padding: 10px !default;
$timetable-entry-font-weight: 500 !default;

/* ==========================================================================
 * Mixins
 * ========================================================================== */

@mixin valign-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin valign-parent {
    transform-style: preserve-3d;
}

@mixin clearfix {
    &::after {
        display: table;
        clear: both;
        content: '';
    }
}

@mixin ellipsis($width: 100%) {
    display: inline-block;
    overflow: hidden;
    max-width: $width;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
}

/* ==========================================================================
 * Timetable
 * ========================================================================== */

.timetable {
    @include clearfix;
    box-sizing: border-box;

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .row-sizer {
        height: $timetable-hour-row-height;
    }

    ul, li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    aside, section {
        float: left;
    }

    aside {
        width: 25%;
        margin-top: $timetable-hour-row-height;
        padding: 0 !important;
        border-right: $timetable-row-header-gap;

        li {
            font-weight: $timetable-row-header-font-weight;
            line-height: $timetable-hour-row-height;
            padding: 0 $timetable-row-header-padding;
            color: $timetable-row-header-color;
            background-color: $timetable-row-header-bg;

            &:not(:last-of-type) {
                border-bottom: $timetable-legend-row-separator;
            }
        }

        .row-heading {
            @include ellipsis;
        }
    }

    ul {
        margin: 0;
        list-style-type: none;
    }

    aside li, time li {
        height: $timetable-hour-row-height;
    }

    section {
        overflow-x: scroll;
        width: 75%;
        padding: 0 !important;
        -webkit-overflow-scrolling: touch;

        time {
            display: inline-block;
            white-space: nowrap;
        }

        header {
            @include clearfix;
            font-size: 0;
            height: $timetable-hour-row-height;
            transform-style: preserve-3d;

            li {
                font-size: 1rem;
                line-height: $timetable-hour-row-height;
                position: relative;
                display: inline-block;
                display: inline-block;
                overflow: visible;
                width: 0;

                &:not(:last-of-type) {
                    width: $timetable-hour-column-width;
                }

                .time-label {
                    position: absolute;
                    left: 0;
                    display: block;
                }

                &:not(:first-of-type) .time-label {
                    transform: translateX(-50%);
                }

                &:last-of-type .time-label {
                    transform: translateX(-100%);
                }
            }
        }
    }

    @media only screen and (max-width: $timetable-breakpoint) {
        aside {
            width: 40%;
        }

        section {
            width: 60%;
        }
    }

    ul.room-timeline {
        position: relative;
        overflow: hidden;
        border-left: none;

        li {
            position: relative;
            background-color: $timetable-row-even-color;

            &:nth-of-type(odd) {
                background-color: $timetable-row-uneven-color;
            }

            &:first-of-type {
                border-top: $timetable-grid;
            }

            &:last-of-type {
                border-bottom: $timetable-grid;
            }

            &:not(:last-of-type) {
                border-bottom: $timetable-entry-row-separator;
            }

            &:first-child .time-entry {
                height: $timetable-hour-row-height - 2px;
            }

            &:after, &:before {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
            }

            &:before {
                background-image: linear-gradient(to right, $timetable-grid-color 1px, transparent 1px);
                background-size: $timetable-hour-column-width / 4 auto;
            }

            &:after {
                background-image: linear-gradient(to right, $timetable-grid-color, $timetable-grid-color 1px, $timetable-row-even-color 1px, $timetable-row-even-color 2px, $timetable-grid-color 2px, $timetable-grid-color 3px, transparent 3px, transparent);
                background-position: -2px 0;
                background-size: $timetable-hour-column-width auto;
            }
        }
    }

    .time-entry {
        @include valign-parent;
        font-weight: $timetable-entry-font-weight;
        position: absolute;
        z-index: 2;
        display: block;
        overflow: hidden;
        height: $timetable-hour-row-height - 1px;
        padding: 0 $timetable-entry-padding;
        transition: 200ms background-color;
        white-space: normal;
        color: $timetable-entry-color;
        border: $timetable-entry-border;
        background-color: $timetable-entry-bg;

        small {
            @include valign-middle;
            @include ellipsis();
            display: block;
        }

        &:hover {
            background-color: $timetable-entry-hover-bg;
        }
    }
}
